.App {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(40) forwards;
}